.weatherContainer {
    display: flex;
    width: 60%;

    border-color: #ff0000;
    border-style: solid;

    background-color: #636e72;
}

#weatherIcon {
    align-items: center;

    border-color: #e7b900;
    border-style: solid;
}

#weatherWidget {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    text-align: center;
    width: 100%;

    border-color: #4166f3;
    border-style: solid;
}

.weatherItems {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;

    background-color: rgb(255, 254, 238);
}